nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
  background-color: hsl(120, 20%, 50%);
}

.navigation {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.link {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.link:hover {
  opacity: 60%;
}